# Istio Operator values to enable JSON access logs with custom metric
global:
  logAsJson: true

# Configure access logs in JSON format with custom metric 'REQUEST_TX_DURATION'
meshConfig:
  accessLogFile: /dev/stdout
  extensionProviders:
    - name: "file-log"
      envoyFileAccessLog:
        path: /dev/stdout
        logFormat:
          # Use 'labels' to generate JSON output
          labels:
            timestamp: "%START_TIME%"
            method: "%REQ(:METHOD)%"
            path: "%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%"
            protocol: "%PROTOCOL%"
            response_code: "%RESPONSE_CODE%"
            response_flags: "%RESPONSE_FLAGS%"
            bytes_received: "%BYTES_RECEIVED%"
            bytes_sent: "%BYTES_SENT%"
            duration: "%DURATION%"
            upstream_service_time: "%RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)%"
            x_forwarded_for: "%REQ(X-FORWARDED-FOR)%"
            user_agent: "%REQ(USER-AGENT)%"
            request_id: "%REQ(X-REQUEST-ID)%"
            authority: "%REQ(:AUTHORITY)%"
            upstream_host: "%UPSTREAM_HOST%"
            # The custom metric you want
            request_tx_duration: "%REQUEST_TX_DURATION%"
  defaultProviders:
    accessLogging:
      - "file-log"

#------------------------------------------------------------------------------
# Configure access logs in Text format with custom metric 'REQUEST_TX_DURATION'
# For Datadog its recommended to use JSON format for better parsing
#meshConfig:
#  accessLogFile: /dev/stdout
#  # Define the provider explicitly
#  extensionProviders:
#    - name: "file-log"
#      envoyFileAccessLog:
#        path: /dev/stdout
#        logFormat:
#          text: |
#            [%START_TIME%] "%REQ(:METHOD)% %REQ(X-ENVOY-ORIGINAL-PATH?:PATH)% %PROTOCOL%" %RESPONSE_CODE% %RESPONSE_FLAGS% %BYTES_RECEIVED% %BYTES_SENT% %DURATION% %RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)% "%REQ(X-FORWARDED-FOR)%" "%REQ(USER-AGENT)%" "%REQ(X-REQUEST-ID)%" "%REQ(:AUTHORITY)%" "%UPSTREAM_HOST%" %REQUEST_TX_DURATION%
#  # Tell Istio to use this provider for all traffic
#  defaultProviders:
#    accessLogging:
#      - "file-log"
